{% extends 'layout.html.twig' %}

{% block content %}
<h1>About us</h1>
    {% if user is not empty %}
        {% set username = user['pseudo'] %}
        {% set email = user['email'] %}
        {% set city = user['city'] %}
        {% set bottlesNumber = user['bottlesNumber'] %}
        {% set level = user['level'] %}
        {{ dump(user) }}
    {% endif %}
{% endblock %}
