{% extends 'layout.html.twig' %}

{% block content %}
    {% if user is not empty %}
        {% set username = user['pseudo'] %}
        {% set email = user['email'] %}
        {% set city = user['city'] %}
        {% set bottlesNumber = user['bottlesNumber'] %}
        {% set level = user['level'] %}
    {% endif %}
    <p>Ajouter des offres</p>
    <form method="POST" action="?action=admin" enctype="multipart/form-data">
        <input type="text" name="partner" placeholder="Partenaire"><br>
        <input type="text" name="city" placeholder="Secteur"><br>
        <input type="text" name="deal" placeholder="Réduction"><br>
        <input type="text" name="cost" placeholder="Coût"><br>
        <input type="file" name="image"><br>
        <button type="submit" >Ajouter Offre</button>
    </form>
{% endblock %}
