{% extends 'layout.html.twig' %}

{% block content %}
    {% if user is not empty %}
        {% set username = user['pseudo'] %}
        {% set email = user['email'] %}
        {% set city = user['city'] %}
        {% set bottlesNumber = user['bottlesNumber'] %}
        {% set level = user['level'] %}
    {% endif %}
    <p>Ajouter des offres</p>
    {% for error in errors %}
        <p>{{ error }}</p>h
    {% endfor %}
    <form method="POST" action="?action=admin" enctype="multipart/form-data">
        <input type="text" name="partner" placeholder="Partenaire"><br>
        <input type="text" name="city" placeholder="Secteur"><br>
        <input type="text" name="deal" placeholder="Réduction"><br>
        <input type="text" name="cost" placeholder="Coût"><br>
        <input type="text" name="description" placeholder="Description"><br>
        <input type="text" name="expirationDate" placeholder="jj/mm/année">
        <input type="file" name="image"><br>
        <button type="submit" name="submitCatalog" >Ajouter Offre</button>
    </form>
    <hr>
    <div>
        <h3>Supprimer un compte indisérable</h3>
        <form method="post" action="?action=admin">
            pseudo
            <input type="text" name="pseudo" placeholder="pseudo">
            <input type="submit" name="submitAccount" value="Supprimer">
        </form>
    </div>
    <hr>
    <div>
        <h3>Supprimer une offre</h3>
        <form method="post" action="?action=admin">
            offre
            <input type="text" name="offers" placeholder="nom de l'offre">
            <input type="submit" name="deletteOffers" value="Supprimer">
        </form>
    </div>
    <hr>
    <div>
        <h3>Mettre a jour l'offre</h3>
        <form method="post" action="?action=admin">
            offre
            <input type="text" name="offers" placeholder="nom de l'offre"><br>
            modification a apporter<br>
            <input type="text" name="update-partner" placeholder="Partenaire"><br>
            <input type="text" name="update-city" placeholder="Secteur"><br>
            <input type="text" name="update-deal" placeholder="Réduction"><br>
            <input type="text" name="update-cost" placeholder="Coût"><br>
            <input type="text" name="update-description" placeholder="Description"><br>
            <input type="text" name="update-expirationDate" placeholder="jj/mm/année">
            <input type="file" name="update-image"><br>
            <input type="submit" name="updateOffers" value="Supprimer">
        </form>
    </div>
{% endblock %}
