{% extends 'layout.html.twig' %}

{% block content %}
    {% if user is not empty %}
        {% set username = user['pseudo'] %}
        {% set email = user['email'] %}
        {% set city = user['city'] %}
        {% set bottlesNumber = user['bottlesNumber'] %}
        {% set level = user['level'] %}
    {% endif %}
    <p>Ajouter des offres</p>
    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}
    <form method="POST" action="?action=admin" enctype="multipart/form-data">
        <input type="text" name="partner" placeholder="Partenaire"><br>
        <input type="text" name="city" placeholder="Secteur"><br>
        <input type="text" name="deal" placeholder="Réduction"><br>
        <input type="text" name="cost" placeholder="Coût"><br>
        <input type="file" name="image"><br>
        <!-- DATE D EXPIRATION A AJOUTER -->
        <button type="submit" name="submitCatalog" >Ajouter Offre</button>
    </form>
    <hr>
    <div>
        <h3>Supprimer un compte indisérable</h3>
        <form method="post" action="?action=admin">
            pseudo
            <input type="text" name="pseudo" placeholder="pseudo">
            <input type="submit" name="submitAccount" value="Supprimer">
        </form>
    </div>
{% endblock %}
