{% extends 'layout.html.twig' %}

{% block content %}

    <p>on a acces a tt les infos du user s'il est connecté ...</p>
    {%  if user is empty %}
        {% if errors != '' %}
            <p>{{ errors }}</p>
        {% endif %}
        <form action="?action=home" method="POST">
            Login : <input type="text" name="username"><br>
            Password : <input type="password" name="password"><br>
            <input type="submit">
        </form>
    {% endif %}
    <p>Nos offres</p>
{% endblock %}
