<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tritus</title>
        <link rel="stylesheet" href="assets/foxholder-styles.css">
        <link rel="stylesheet" href="web/register.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="assets/foxholder.js"></script>
        <script src="assets/register.js"></script>
    </head>
    <body>
    <header>

        <div id="nav_bar">
            <div id="logo">
                <div id="icon"></div>
                <div id="stats"><span>{{ recycledObjects }}</span><br> Objets recyclés</div>
            </div>
            <div id="nav">
                <a href="?action=home">Home</a>
                <a href="?action=nous">Nous</a>
                <a href="?action=partner">Devenir Partenaires</a>
            </div>
            <div id="current">
                <a id="inscri">Inscription</a>
            </div>
        </div>
        <div id="nav_bar_mobile">
            <div id="mobile_left_side">
                <div id="burger">
                    <div class="burger_line"></div>
                    <div class="burger_line"></div>
                    <div class="burger_line"></div>
                </div>
                <div class="mobile_dropdown">
                    <a>Home</a><br>
                    <a>Nous</a><br>
                    <a href="?action=partner">Devenir Partenaires</a>
                </div>
                <div id="mobile_logo">Tritus</div>
            </div>
            <div id="mobile_right_side">
                <div id="mobile_stats_number">{{ recycledObjects }}</div>
                <div id="mobile_stats">Objets recyclés</div>
            </div>
        </div>
    </header>
        {% if error is defined and error is not empty %}
        <p class="error">Error : {{ error }}</p>
        {% endif %}
        {% block content %}{% endblock %}
        <footer>
            <div>Liens - Logo</div>
            <div> Divers Liens</div>
            <div> Copyright - Mentions</div>
        </footer>
    </body>
</html>
