<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OOP MVC</title>
        <link rel="stylesheet" href="assets/foxholder-styles.css">
        <link rel="stylesheet" href="web/register.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="assets/foxholder.js"></script>
        <script src="assets/register.js"></script>
    </head>
    <body>
        <header>
            <div id="nav_bar">
                <div id="logo"></div>
                <div id="stats">
                    <span>558 524</span> Objets recyclés
                </div>
                <div id="nav">
                    <a>Home</a>
                    <a>Nous</a>
                    <a href="?action=partner" >Devenir Partenaires</a>
                </div>
                <div id="current">
                    <a>Inscription</a>
                </div>
            </div>
        </header>
        {% if error is defined and error is not empty %}
        <p class="error">Error : {{ error }}</p>
        {% endif %}
        {% block content %}{% endblock %}
        <footer>Even more awesome footer</footer>
    </body>
</html>
