<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tritus</title>
        <link rel="stylesheet" href="assets/foxholder-styles.css">
        <link rel="stylesheet" href="web/register.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="assets/foxholder.js"></script>
        <script src="assets/register.js"></script>
    </head>
    <body>
        {% if error is defined and error is not empty %}
        <p class="error">Error : {{ error }}</p>
        {% endif %}
        {% block content %}{% endblock %}
        <footer>
            <div>Liens - Logo</div>
            <div> Divers Liens</div>
            <div> Copyright - Mentions</div>
        </footer>
    </body>
</html>
