{% extends 'layout.html.twig' %}

{% block content %}
    {% if user is not empty %}
        {% set username = user['pseudo'] %}
        {% set email = user['email'] %}
        {% set city = user['city'] %}
        {% set bottlesNumber = user['bottlesNumber'] %}
        {% set level = user['level'] %}
        {{ dump(user) }}
    {% endif %}
<div id="title">
           DEVENIR PARTENAIRE
        </div>
        <div id="line"></div>
    <div class="form-container-2 form-container form" id="example-2">
        <form method="POST" action="?action=register">
            <input id="name" type="text" name="name" placeholder="Name*"><br>
            <input id="email" type="email" name="email" placeholder="Mail*"><br>
            <input id="city" type="text" name="city" placeholder="Ville*"><br>
            <input id="phone" type="text" name="phone" placeholder="Téléphone*"><br>
            <input id="statut" type="text" name="statut" placeholder="Statut*"><br>
            <button id="button">Devenir Partenaire</button>
        </form>
    </div>

{% endblock %}
