{% extends 'layout.html.twig' %}

{% block content %}

    <br>
    <br>
    <br><br><br><br>
    <div id="title">
        Hi guys :)
    </div>
    <div id="line"></div>
    <div>
        <form action="?action=profil"  method="POST">
            <input type="text" name="numberOfBottles" placeholder="mettez vos bouteilles">
            <input id="button" type="submit" value="Valider">
        </form>
    </div>
{% endblock %}