{% extends 'layout.html.twig' %}

{% block content %}
    <form action="?action=profil" method="POST">
        <input type="text" name="numberOfBottles" placeholder="mettez vos bouteilles">
        <input type="submit" value="Valider">
    </form>
{% endblock %}