{% extends 'layout.html.twig' %}

{% block content %}

    <br>
    <br>
    <br><br><br><br>
    {% set username = user['pseudo'] %}
    {% set email = user['email'] %}
    {% set city = user['city'] %}
    {% set bottlesNumber = user['bottlesNumber'] %}
    {% set level = user['level'] %}


    <div id="title">
        <h3>Stats</h3>
        <p>Hi {{ username }} ,Vous avez recyclé {{ bottlesNumber }} bouteille(s)</p>
        <p>Niveau : {{ level }} sur 5</p>
    </div>
    <div></div>
    <div id="line"></div>
    <div>
        <form action="?action=profil"  method="POST">
            <input type="text" name="numberOfBottles" placeholder="Code">
            <input name="submitCode" type="submit" value="Valider">
        </form>
    </div>
    <br><br><br><br><br>
    <div>
        <form action="?action=profil"  method="POST">
            <input type="text" name="numberOfBottles" placeholder="mettez vos bouteilles">
            <input id="button" type="submit" value="Valider">
        </form>
    </div>
{% endblock %}