{% extends 'layout.html.twig' %}

{% block content %}
    <header>
        <div id="nav_bar">
            <div id="logo"></div>
            <div id="stats">
                <span>558 524</span> Objets recyclés
            </div>
            <div id="nav">
                <a>Home</a>
                <a>Nous</a>
                <a href="?action=partner">Devenir Partenaires</a>
            </div>
            <div id="current">
                <a id="inscri">Inscription</a>
            </div>
        </div>
    </header>
    <div id="title">
        INSCRIPTION
    </div>
    <div id="line"></div>
    <div class="form-container-2 form-container form" id="example-2">
        <form id="myRegister" method="POST" action="?action=register">
            <input id="username" type="text" name="username" placeholder="Pseudo*">
            <input id="email" type="email" name="email" placeholder="Mail*">
            <input id="password" type="password" name="password" placeholder="Mot de Passe*">
            <input id="verifpassword" type="password" name="verifpassword" placeholder="Confirmation Mot de Passe*">
            <input id="city" type="text" name="city" placeholder="Ville*">
            <button type="submit" id="button">Créer mon compte</button>
        </form>
    </div>
{% endblock %}
