$neutralColor : #4b4b4b; // nav || footer
$red : #f0816c;

@font-face {
    src: url('../fonts/Roboto-Bold.ttf');
    font-family: 'robotoBold';
}

@font-face {
    src: url('../fonts/Roboto-Regular.ttf');
    font-family: 'robotoRegular';
}

@font-face {
    src: url('../fonts/Roboto-Light.ttf');
    font-family: 'robotoLight';
}

@font-face {
    src: url('../fonts/Poppins-Medium.ttf');
    font-family: 'PoppinsMedium';
}

@mixin flex_trinity($direction, $content) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
}

@media screen{
    
    body{
        margin: 0px;
    }

    p, ul{
        margin: 0px;
        padding: 0px;
    }

    li{
        list-style:none;
    }

    a{
        text-decoration: none;
    }
    
    header{
        height: 40px;
        @include flex_trinity(row, space-between);
        align-items: center;
        background-color: $neutralColor;
        .left_side_mobile{
            @include flex_trinity(row, flex-start);
            .burger{
                height: 19px;
                width : 20px;
                margin: 5px;
                @include flex_trinity(column, space-around);
                .burger_line{
                    background-color: white;
                    height: 2px;
                    width: 100%;
                }
                @media(min-width:1026px){
                    display: none;
                }
            }
            .mobile_dropdown{
                display: none;
                position: absolute;
                background-color: black;
                color :white;
                opacity: 0.8;
                width: 70%;
                height: 100vh;
                margin-top: 35px;
                z-index: 1;
                flex-direction: column;
                li{
                    padding : 15px 25px;
                    &:not(:last-child){
                        border-bottom: 1px solid white;
                    }
                    a{
                        color:white;
                    }
                }
            }
            .mobile_logo{
                height: 25px;
                width: 115px;
                margin-left: 5px;
                margin-top: 5px;
            }
        }
        .menu_desktop{
            display: none;
            align-self: center;
            a{
                color: white;
                padding: 0px 20px;
                &:hover{
                    color:$red;
                }
            }
            @media(min-width:1026px){
                display: flex;
            }
        }
        .stats{
            @include flex_trinity(column, flex-start);
            align-items: center;
            margin-right: 5px;
            font-family: 'robotoBold';
            color:white;
            font-size: 14px;
            @media(min-width:1026px){
                flex-direction: row;
                margin-left: 20px;
            }
            span{
                color:$red;
                letter-spacing: 4px;
                font-weight: bold;
                font-size: 18px;
            }
        }
        .current{
            display: none;
            height: 40px;
            background-color: $red;
            a{
                padding-top: 9px;
                color: white;
            }
            margin-right: 40px;
            margin-left: 20%;
            padding: 0px 10px;
            @media(min-width:1026px){
                display: flex;
            }
        }
    }

    .allForm{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 400px;
        padding-bottom: 15px;
        .container_form{
            text-align: center;
            @media(min-width:1026px){
                background-color: white;
                padding: 20px 5%;
            }
        }
        .title{
            font-family: 'PoppinsMedium';
            color:$red;
        }
        .form-container{
            #myRegister{
                text-align: center;
                .form-item-block{
                    span{
                        color :$red;
                        padding-bottom: 4px;
                        font-size: 12px;
                    }
                    @media(min-width:1026px){
                        width: 250px;
                    }
                }
                button{
                    border : none;
                    background-color: $red;
                    color:white;
                    box-shadow: 0px 5px 1px #d47260;
                    &:hover{
                        box-shadow: 0px 2px 1px #d47260;
                    }
                }
                .error{
                    color: red;
                    margin: 10px;
                }
            }
        }
        @media(min-width:1026px){
            background-image: url('../img/inscription.png');
            height: 600px;
        }
    }

    .user_page{
        background-color: #b5f4f2;
        @include flex_trinity(column, space-around);
        .user_info{
            @include flex_trinity(column, space-between);
            align-items: center;
            margin-top: 10px;
            .profil_img{
                margin: 10px 0px;
                width: 25%;
                border-radius: 50%;
                border: 10px solid #8e8e8e;
            }
            .line{
                width: 60%;
                height: 2px;
                background-color: #6a6a6a;
            }
            .specific_info{
                margin: 10px 0px;
                font-size: 16px;
                @include flex_trinity(column, space-between);
                width: 60%;
                .username_lvl{
                    font-family: 'robotoBold';
                    font-size: 18px;
                    width: 100%;
                    @include flex_trinity(row, space-between);
                    align-items: baseline;
                    color: #4b4b4b;
                    .params{
                        width: 20px;
                        margin-left: 10px;
                    }
                    .lvl{
                        color : $red;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                .classement{
                    font-size: 12px;
                    margin: 15px 0px;
                    font-family: 'robotoLight';
                    a{
                        background-color: $red;
                        color: white;
                        padding: 5px 10px;
                    }
                }
                .inscription_date{
                    font-family: 'robotoLight';
                    font-size: 11px;
                    background-color: $red;
                    padding: 3px;
                }
            }
        }
        .stats{
            margin: 20px 10px;
            @include flex_trinity(row, space-between);
            flex-wrap: wrap;
            div{
                font-family: 'robotoLight';
                width: 49%;
                height: 65px;
                color: white;
                font-size: 18px;
                @include flex_trinity(column, space-around);
                text-align: center;
                span{
                    margin-top: 5px;
                }
                .little{
                    font-size: 10px;
                    margin-top: 0px;
                    margin-bottom: 10px;
                }
            }
            .recycled{
                background: linear-gradient(to bottom, #4b4b4b 50%, #3e3e3e 50%);
                text-transform: uppercase;
            }
            .points{
                background: linear-gradient(to bottom, #f0816c 50%, #e9725b 50%);
                text-transform: uppercase;
            }
            .fun_stats{
                @extend .recycled;
                font-size: 12px;
                width: 100%;
                height: 25px;
                margin-top: 5px;
                line-height: 25px;
                text-align: center;
            }
        }
        .box{
            margin: 0px 10px;
            margin-bottom: 30px;
            ul{
                @include flex_trinity(row, space-between);
                .tabs{
                    width: 30%;
                    border-radius: 5px 5px 0px 0px;
                    height: 40px;
                    background-color: #333333;
                    border-bottom: 1px solid transparent;
                    box-shadow: 0px -2px 10px black inset;
                    @include flex_trinity(row, center);
                    align-items: center;
                    img{
                        width: 30px;
                    }
                }
                .active{
                   box-shadow: none;
                }
            }
            .all_changing_contents{
                color: white;
                .changing_content{
                    text-align: center;
                    background-color: #333333;
                    .title{
                        padding: 10px 0px;
                    }
                }
                .my_reductions{
                    overflow: scroll;
                    max-height: 200px;
                    .all_reducs{
                            .reducs{
                                @include flex_trinity(row, flex-start);
                                height: 60px;
                                .partner_img{
                                    width: 60px;
                                    height: 60px;
                                }
                                .deal_info{
                                    background-color: #dadada;
                                    @include flex_trinity(row, space-around);
                                    width: 70%;
                                    line-height: 60px;
                                    color: black;
                                }
                                .print{
                                    width: 25%;
                                    background-color: $red;
                                    @include flex_trinity(row, center);
                                    img{
                                        width: 30px;
                                        align-self: center;
                                        height: 30px;
                                    }
                                }
                                &:nth-child(even){
                                    margin: 10px 0px;
                                }
                                .other_info{
                                    display: none;
                                }                     
                            }
                        }
                }
                .available_reductions{
                    color: #ed6147;
                    display: none;
                    .all_available_deal{
                        overflow: scroll;
                        max-height: 200px;
                        .available_deal{
                            @include flex_trinity(row, flex-start);
                            height: 60px;
                            .partner_img{
                                width: 60px;
                                height: 60px;
                            }
                            .deal_info{
                                background-color: #dadada;
                                @include flex_trinity(row, space-around);
                                width: 70%;
                                line-height: 60px;
                                color: black;
                            }
                            .deal_cost{
                                width: 30%;
                                background-color: $red;
                                @include flex_trinity(column, center);
                                color: white;
                                span:nth-child(2){
                                    color: #464646;
                                    font-weight: bold;
                                }
                            }
                            &:nth-child(even){
                                margin: 10px 0px;
                            }
                            .other_info{
                                display: none;
                            }
                        }
                        
                    }
                }
                .sondage{
                    display: none;
                }
            }
            .all_offers_link{
                display: none;
                background-color: #f0816c;
                text-align: center;
                width: 50%;
                margin: auto;
                margin-top: 20px;
                border-radius: 5px;
                padding: 5px;
                color: white;
            }
        }
    }

    #modale{
        height: 100vh;
        width: 100%;
        position: absolute;
        z-index: 1;
        background-color: rgba(0,0,0,0.4);
        display: none;
        .modale_available_deal{
            margin-left: 20%;
            margin-top: 15%;
            opacity: 1;
            background-color: #e5e5e5;
            width: 60%;
            height: 80%;
            border-radius: 15px;
            .deal_info{
                @include flex_trinity(column, flex-start);
                align-items: center;
                margin-top: 20px;
                font-size: 16px;
                .img_modale{
                    width: 65%;
                    height: 120px;
                }
                .info{
                    border: 1px solid #e6e6e6;
                    border-radius: 10px;
                    width: 85%;
                    margin-top: 20px;
                    box-shadow: inset 0px 0px 25px 5px #ddd7d7;
                    @include flex_trinity(column, space-around);
                    height: 200px;
                    background-color: #fff;
                    .title{
                        text-align: center;
                        font-size: 18px;
                    }
                    .info_deal{
                        @include flex_trinity(row, space-between);
                        margin: 5px;
                    }
                    .important{
                        font-size: 18px;
                        @include flex_trinity(row, space-around);
                        .big{
                            @include flex_trinity(column, flex-start);
                            align-items : center;
                        }
                    }
                }
            }
            .action{
                @include flex_trinity(column, flex-start);
                align-items: center;
                .buy_deal{
                    width: 50%;
                    .id{
                        display: none;
                    }
                    .buy{
                        color: #FFFFFF;
                        background: #2b90d9;
                        border: none;
                        margin:10px 0px;
                        width: 100%;
                        padding: 7px 0px;
                        border-radius: 5px;
                    }
                }
                .close_modale{
                    color: #FFFFFF;
                    background: #F32C52;
                    width: 50%;
                    text-align: center;
                    padding: 5px 0px;
                    border-radius: 5px;
                }
            }
        }
    }

    .offer_page{
        .head_img{
            background-image: url('../img/mobile_offers.png');
            background-size: cover;
            height: 60px;
            color: white;
            text-align: center;
            line-height: 60px;
            font-weight: bold;
            font-family: 'PoppinsMedium';
        }
        .all_offers{
            @include flex_trinity(row, space-around);
            flex-wrap: wrap;
            .offer{
                width: 40%;
                margin-bottom: 20px;
                img{
                    width: 100%;
                    height: 100px;
                }
                .info{
                    .title{
                        text-align: center;
                    }
                    .buttons{
                        @include flex_trinity(row, space-between);
                        align-items: center;
                        text-align: center;
                        .costs{
                            background-color: $red;
                            color: white;
                            padding: 5px 10px;
                        }
                        .more{
                            background-color: $red;
                            @include flex_trinity(row, center);
                            align-items: center;
                            .circle{
                                background-color: white;
                                border-radius: 25px;
                                width: 25px;
                                line-height: 25px;
                                height: 25px;
                            }
                        }
                    }
                    .more_info{
                        display: none;
                    }
                }
            }
        }
        #modale{
            top: 0;
        }
    }

    footer{
        background-color: $neutralColor;
        padding: 20px;
        color:white;
        @include flex_trinity(column, space-around);  
        align-items: center;
        @media(min-width:1026px){
            flex-direction: row;
            flex-wrap: wrap;
        }
        div:nth-child(1){
            @media(min-width:1026px){
                width: 30%;
            }
        }
        .newsletter{
            color:white;
            @include flex_trinity(column, space-around);
            height: 80px;
            align-items: center;
            @media(min-width:1026px){
                width: 30%;
            }
        }
        .nav{
            @include flex_trinity(row, space-between);
            margin: 20px 0px;
            @media(min-width:1026px){
                width: 20%;
                margin-left: 10%;
                @include flex_trinity(column, space-between);
            }
            div:nth-child(2){
                margin-left: 28px;
                @media(min-width:1026px){
                    margin-left: 0px;
                }
            }
            div{
                @media(min-width:1026px){
                    @include flex_trinity(column, space-between);
                }
            }
            a{
                color:white;
                white-space: nowrap;
                font-size: 14px;
            }
        }
        .copy{
            margin-top: 20px;
            font-size: 12px;
            width: 30%;
            text-align: center; 
        }
    }

}