$neutralColor : #4b4b4b; // nav || footer
$red : #f0816c;

  @font-face {
    src: url('../fonts/Roboto-Bold.ttf');
    font-family: 'robotoBold';
  }

  @font-face {
    src: url('../fonts/Roboto-Regular.ttf');
    font-family: 'robotoRegular';
  }

  @font-face {
    src: url('../fonts/Roboto-Light.ttf');
    font-family: 'robotoLight';
  }

  @font-face {
    src: url('../fonts/Poppins-Medium.ttf');
    font-family: 'PoppinsMedium';
  }

@mixin flex_trinity($direction, $content) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
  }

@media screen{
    
    body{
        margin: 0px;
    }

    p, ul{
        margin: 0px;
        padding: 0px;
    }

    li{
        list-style:none;
    }

    a{
        text-decoration: none;
    }
    
    header{
        height: 40px;
        @include flex_trinity(row, space-between);
        align-items: center;
        background-color: $neutralColor;
        .left_side_mobile{
            @include flex_trinity(row, flex-start);
            .burger{
                height: 22px;
                width : 20px;
                margin: 5px;
                @include flex_trinity(column, space-around);
                .burger_line{
                    background-color: white;
                    height: 2px;
                    width: 100%;
                }
                @media(min-width:1026px){
                    display: none;
                }
            }
            .mobile_dropdown{
                display: none;
                position: absolute;
                background-color: black;
                color :white;
                opacity: 0.8;
                width: 70%;
                height: 100vh;
                margin-top: 35px;
                z-index: 1;
                flex-direction: column;
                li{
                    padding : 15px 25px;
                    &:not(:last-child){
                        border-bottom: 1px solid white;
                    }
                    a{
                        color:white;
                    }
                }
            }
            .mobile_logo{
                height: 25px;
                width: 115px;
                margin-left: 5px;
                margin-top: 5px;
            }
        }
        .menu_desktop{
            display: none;
            align-self: center;
            a{
                color: white;
                padding: 0px 20px;
                &:hover{
                    color:$red;
                }
            }
            @media(min-width:1026px){
                display: flex;
            }
        }
        .stats{
            @include flex_trinity(column, flex-start);
            align-items: center;
            margin-right: 5px;
            font-family: 'robotoBold';
            color:white;
            font-size: 14px;
            @media(min-width:1026px){
                flex-direction: row;
                margin-left: 20px;
            }
            span{
                color:$red;
                letter-spacing: 4px;
                font-weight: bold;
                font-size: 18px;
            }
        }
        .current{
            display: none;
            height: 40px;
            background-color: $red;
            a{
                padding-top: 9px;
                color: white;
            }
            margin-right: 40px;
            margin-left: 20%;
            padding: 0px 10px;
            @media(min-width:1026px){
                display: flex;
            }
        }
    }

    .allForm{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 400px;
        padding-bottom: 15px;
        .container_form{
            text-align: center;
            @media(min-width:1026px){
                background-color: white;
                padding: 20px 5%;
            }
        }
        .title{
            font-family: 'PoppinsMedium';
            color:$red;
        }
        .form-container{
            #myRegister{
                text-align: center;
                .form-item-block{
                    span{
                        color :$red;
                        padding-bottom: 4px;
                        font-size: 12px;
                    }
                    @media(min-width:1026px){
                        width: 250px;
                    }
                }
                button{
                    border : none;
                    background-color: $red;
                    color:white;
                    box-shadow: 0px 5px 1px #d47260;
                    &:hover{
                        box-shadow: 0px 2px 1px #d47260;
                    }
                }
                .error{
                    color: red;
                    margin: 10px;
                }
            }
        }
        @media(min-width:1026px){
            background-image: url('../img/inscription.png');
            height: 600px;
        }
    }

    .user_page{
        background-color: #b5f4f2;
        @include flex_trinity(column, space-around);
        .user_info{
            @include flex_trinity(column, space-between);
            align-items: center;
            margin-top: 20px;
            .profil_img{
                margin: 10px 0px;
                width: 35%;
                border-radius: 50%;
            }
            .line{
                width: 60%;
                height: 3px;
                background-color: black;
            }
            .specific_info{
                margin: 10px 0px;
                font-size: 16px;
                @include flex_trinity(column, space-between);
                width: 60%;
                .username_lvl{
                    font-size: 18px;
                    width: 100%;
                    @include flex_trinity(row, space-between);
                    align-items: baseline;
                    .params{
                        width: 20px;
                        margin-left: 10px;
                    }
                    .lvl{
                        color : $red;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                .classement{
                    margin: 20px 0px;
                    a{
                        background-color: $red;
                        color: white;
                        padding: 5px 10px;
                    }
                }
                .inscription_date{
                    background-color: $red;
                    padding: 5px;
                }
            }
        }
        .stats{
            margin: 30px 10px;
            @include flex_trinity(row, space-between);
            flex-wrap: wrap;
            div{
                width: 49%;
                height: 65px;
                color: white;
                line-height: 65px;
                font-size: 12px;
                span{
                    font-size: 25px;
                    margin: 0px 10px 0px 20px;
                }
            }
            .recycled{
                background: linear-gradient(to bottom, #4b4b4b 50%, #3e3e3e 50%);
            }
            .points{
                  background: linear-gradient(to bottom, #f0816c 50%, #e9725b 50%);
            }
            .fun_stats{
                @extend .recycled;
                font-size: 14px;
                width: 100%;
                height: 30px;
                margin-top: 15px;
                line-height: 30px;
                text-align: center;
            }
        }
        .box{
            margin: 0px 10px;
            ul{
                @include flex_trinity(row, space-between);
                .tabs{
                    width: 30%;
                    border-radius: 5px 5px 0px 0px;
                    height: 30px;
                    background-color: #333333;
                    border-bottom: 1px solid transparent;
                    box-shadow: 0px -2px 5px black inset;
                }
                .active{
                   box-shadow: none;
                }
            }
            .all_changing_contents{
                .changing_content{
                    background-color: #333333;
                }
                .available_reductions{
                    display: none;
                }
                .sondage{
                    display: none;
                }
            }
        }
    }

    footer{
        background-color: $neutralColor;
        padding: 20px;
        color:white;
        @include flex_trinity(column, space-around);  
        align-items: center;
        @media(min-width:1026px){
            flex-direction: row;
            flex-wrap: wrap;
        }
        div:nth-child(1){
            @media(min-width:1026px){
                width: 30%;
            }
        }
        .newsletter{
            color:white;
            @include flex_trinity(column, space-around);
            height: 80px;
            align-items: center;
            @media(min-width:1026px){
                width: 30%;
            }
        }
        .nav{
            @include flex_trinity(row, space-between);
            margin: 20px 0px;
            @media(min-width:1026px){
                width: 20%;
                margin-left: 10%;
                @include flex_trinity(column, space-between);
            }
            div:nth-child(2){
                margin-left: 28px;
                @media(min-width:1026px){
                    margin-left: 0px;
                }
            }
            div{
                @media(min-width:1026px){
                    @include flex_trinity(column, space-between);
                }
            }
            a{
                color:white;
                white-space: nowrap;
                font-size: 14px;
            }
        }
        .copy{
            margin-top: 20px;
            font-size: 12px;
            width: 30%;
            text-align: center; 
        }
    }

}